# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
tags
Makefile
objs/*
cscope*
*.dSYM
ngx_test
.cproject
.project
.settings/
Debug/
